* {
	box-sizing: border-box;
}

/*Layout*/
#container {
	max-width: 600px;
	margin: 0 auto;
}

header {
	min-height: 100px;
}

#happy-face {
	height: 100px;
	float: left;
	padding: 10px 30px;
}

#logo {
	margin: 0 auto;
	max-width: 200px;
	height: auto;
	display: block;
}

section {
	padding: 10px 30px;
}

.row-radio {
	margin-left: 40px;
}

.row-text {
	text-align: center;
	min-height: 67px;
}

.row-text ul {
	vertical-align: top;
	padding: 0px;
}

input[type=text], input[type=number] {
	margin: 0 10px;
	width: 10em;
	padding-left: 5px;
}

.row-radio p {
	margin-bottom: 0px;
}

.inputField {
	display: inline-block;
	list-style-type: none;
}

.inputFieldError p {
	color: red;
	font-size: 0.75em;
	margin: 2px 0 0 10px;
	text-align: left;
}

.button {
	text-align: right;
	margin: 10px auto 0px auto;
}

/*Styling*/
.border {
	
	border: 1px solid black;
	max-height: 100%;
}

/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
#text-area.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; 
  		max-height: 500px;}
  to { opacity:0; 
  		max-height: 0px;}
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; 
  		max-height: 500px;}
  to { opacity:0; 
  		max-height: 0px;}
}

#text-area.ng-enter {
  animation: my_show_animation 1s linear;
  -webkit-animation: my_show_animation 1s linear;
}

@keyframes my_show_animation {
  from { opacity:0;
  		max-height: 0; }
  to { opacity:1; 
  		max-height: 500px;}
}

@-webkit-keyframes my_show_animation {
  from { opacity:0; 
  			max-height: 0;}
  to { opacity:1; 
  		max-height: 500px;}
}






/*.border.ng-hide {
	animation: hide-text 2s linear;
}

@keyframes hide-text {
	from {opacity: 1;}
	to {opacity: 0;}
}
*/


/*.border.ng-hide-add, .border.ng-hide-add-active {
	
	transition: 2s linear all;
}

.border.ng-hide {
	opacity: 0;
	height: 0%;

}*/

/*CSS class-based animations*/
/*.fade-class.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}*/

/*.fade-class {
  transition:0.5s linear all;
  opacity:1;
}*/

.u-line {
	text-decoration: underline;
}

h1 {
	text-align: center;
	margin: 0px 0px 10px 0px;
}

h1,h2,h3,h4,h5,h6,p,li {
	font-family: arial;
}

.input-error {
	border: solid 1px red;
}