<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mad Libs</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
</head>

<body ng-app="">
	<div id="container" class="border">
		<header class="border">
			<img src="images/mad-lib-happy-face.png" alt="Happy Face" id="happy-face" class="border">
			<img src="images/ng-mad-libs-logo.png" alt="Mad Libs" id="logo">
			<h1>Silly Story</h1>
		</header>
		<section class="border">
			<h2>Provide the following words:</h2>
			<div class="row">
				<input type="text" ng-model="maleName" ng-init="maleName = 'Male name'" class="border">
				<input type="text" ng-model="dirtyTask" ng-init="dirtyTask = 'dirty task'" class="border">
				<input type="text" ng-model="obnxCeleb" ng-init="obnxCeleb = 'obnoxious celebrity'" class="border">
			</div>
			<div class="row">
				<input type="text" ng-model="jobTitle" ng-init="jobTitle = 'Job Title'" class="border">
				<input type="text" ng-model="celebrity" ng-init="celebrity = 'celebrity'" class="border">
				<input type="text" ng-model="hugeNumber" ng-init="hugeNumber = 'huge number'" class="border">
			</div>
			<div class="row">
				<input type="text" ng-model="tediousTask" ng-init="tediousTask = 'tedious task'" class="border">
				<input type="text" ng-model="uselessSkill" ng-init="uselessSkill = 'useless skill'" class="border">
				<input type="text" ng-model="adjective" ng-init="adjective = 'adjective'" class="border">
			</div>
		</section>
		<section class="border" id="text-area">
			<p><span class="u-line">{{maleName}}</span> was a <span class="u-line">{{jobTitle}}</span> who loved technology. Although he loved parts of his job, he absolutely hated  <span class="u-line">{{tediousTask}}</span> and <span class="u-line">{{dirtyTask}}</span>. So, <span class="u-line">{{maleName}}</span> met with his life mentor <span class="u-line">{{celebrity}}</span> who told him to learn <span class="u-line">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="u-line">{{uselessSkill}}</span> so he studied programming instead.</p>
			 
			<p>What a great decision! With his new skills, <span class="u-line">{{maleName}}</span> built a <span class="u-line">{{adjective}}</span> robot named <span class="u-line">{{obnxCeleb}}</span> that not only loved <span class="u-line">{{dirtyTask}}</span> but did it <span class="u-line">{{hugeNumber}}</span> faster.</p>
		</section>
	</div>
</body>
</html>